/* Begin Mobile */

  body{
    background-image: url(../images/background_m.jpg);
    background-size: 100% 100%;
  }

  #title_bar{
    font-size: 9vw;
  }

  #slogan{
    font-size: 4vw;
  }

  nav li{
    font-size: 5vw;
    display: block;
    padding-top: 1vw;
  }


