    body {
      background-image: url(../images/background_m.jpg);
      background-size: 100%; 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    #logo{
      font-size: 8vw;
      display: block;
    }

    #nav_bar {
      text-align: center;
    }

    nav li{
      font-size: 4vw;
      display: block;
      text-align: left;
      padding-top: 1vw;
    }

    h2{
      font-size: 4vw;
    }

    p{
      font-size: 1.5vw;
    }

    img{
      height: 28vw;
      width: 28vw;
    }

    figcaption{
      font-size: 2.5vw;
    }

    #nav{
      display: block;
      position: absolute;
      position: fixed;
    }

    #nav_id li{
      display: block;
      text-align: left;
    }

    ul{
      display: block;
    }
    
    #logo{
      text-align: left;
    }

    #content{
      padding-right: 10vw;
      padding-left: 35vw;
      height: 100%;
      overflow: scroll;
      padding-top: 0;
      margin: 5vw;
    }

    #pics{
      margin-bottom: 20vw;
    }



